.aparecer {
  animation: FadeIn .5s linear;
  animation-fill-mode: both;
  overflow: hidden;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.slide-in-left {
  -webkit-animation: slide-in-left 1.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-left 1.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.notas div:nth-child(1) {
  animation-delay: .1s
}

.notas div:nth-child(2) {
  animation-delay: .4s
}

.notas div:nth-child(3) {
  animation-delay: .6s
}

.notas div:nth-child(4) {
  animation-delay: .8s
}

.notas div:nth-child(5) {
  animation-delay: .6s
}

.notas div:nth-child(6) {
  animation-delay: .7s
}

.notas div:nth-child(7) {
  animation-delay: .8s
}

.notas div:nth-child(8) {
  animation-delay: .9s
}

.notas div:nth-child(9) {
  animation-delay: .9s
}

.notas div:nth-child(10) {
  animation-delay: 1s
}

.notas div:nth-child(11) {
  animation-delay: 1.1s
}

.notas div:nth-child(12) {
  animation-delay: 1.2s
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}