footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  bottom: 0;
  position: static;
  align-content: center;
  width: 100%;
  text-align: center;
}

footer a,
footer p {
  padding-bottom: 1rem
}

.footlink {
  display: flex;
  padding-top: 1rem;
  margin-left: 2rem;
  transition-duration: .4s
}

.footlink:hover {
  transform: scale(1.4);
  transition-duration: .4s
}