@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.head {
    height: 100px;
    margin: 20px;
}

.head h1 {
    text-align: center;
    font-size: 4em;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    cursor: default;
    user-select: none;
}