.contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 3fr));
}

@media screen and (max-width: 1000px) {
.contenedor {
  grid-template-columns: repeat(auto-fit, minmax(100%, 3fr));
  }
}

.botonSubir{
    bottom: 40px;
    z-index: 1000;
    padding: 12px;
    right: 18px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #b9b9b9;
    position: fixed;
}