
.cards{
margin-top: 40px;    
}
.card {
    width: calc(70%);
    display: grid;
    border-radius: 5px;
    justify-self: center;
    margin-bottom: 10%;
}

.card img {
    width: 70%;
    margin: 0 auto;
    border-radius: 50%;
}

.card h3 {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.card p {
    text-align: center;
    white-space: nowrap;
}