.fila {
    display: flex;
    justify-content: center;
    gap: 3rem;
}





.nosotros-section__image {
    width: 50%;
}

.nosotros-section.section-integrantes {
    margin-top: 60px;
}

.card-integrante {
    width: calc(100% / 5);
}

.card-integrante__image {
    width: 70%;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.card-integrante__nombre {
    margin-top: 20px;
    text-align: center;
}

.card-integrante__texto {
    text-align: center;
    white-space: nowrap;
    margin: 20px 40px;
}