@import "reset.css";
@import "nav.css";
@import "head.css";
@import "footer.css";
@import "homeLayout.css";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

main {
    padding: 20px;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}